
.onoff {

  // Panels
  .on,
  .off {
    .symbol {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      font-size: 36px;
      text-align: center;

      // Huge icons
      .icon {
        display: block;
        margin: 0 auto;

        font-size: 100px;
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        text-decoration: inherit;
        -webkit-font-smoothing: antialiased;
      }

      // use icon-lightbulb
      .icon:before {
        content: "\f0eb";
      }
    }
  }

  // On panel
  .on {
    .panel(mix(@blue, @black, 30%), @base3);

    .symbol {
      .gradient(~"linear-gradient(top, #ffda4a 0%, #ff7a41 100%)");
    }
  }

  // Off panel
  .off {
    .panel(mix(@yellow, @white, 30%), @base03);

    .symbol {
      .gradient(~"linear-gradient(top, #3f4142 0%, #3f4142333536 100%)");
    }
  }

}

// 3D flip
.onoff {
  -webkit-perspective: 800;

  &:hover,
  &:active {
    .flipcard {
      -webkit-transform: rotateY(180deg);
    }
  }

}
.flipcard {
  position: relative;
  height: 280px;

  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 400ms ease-in-out;

  .on,
  .off {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    -webkit-backface-visibility: hidden;
  }

  // off hidden by default
  .off {
    -webkit-transform: rotateY(180deg);
  }

}