
// Color classes
.base03 { background: @base03; color: @base3; }
.base02 { background: @base02; color: @base2; }
.base01 { background: @base01; color: @base1; }
.base00 { background: @base00; color: @base0; }
.base0 { background: @base0; color: @base00; }
.base1 { background: @base1; color: @base01; }
.base2 { background: @base2; color: @base02; }
.base3 { background: @base3; color: @base03; }

.black { background: @black; color: @white; }
.white { background: @white; color: @black; }
.yellow { background: @yellow; color: @white; }
.orange { background: @orange; color: @white; }
.red { background: @red; color: @white; }
.magenta { background: @magenta; color: @white; }
.violet { background: @violet; color: @white; }
.blue { background: @blue; color: @white; }
.cyan { background: @cyan; color: @white; }
.green { background: @green; color: @white; }

// Swatch design samples
.swatch {
  display: inline-block;
  height: 100px;
  width: 100px;
}

// Clearing floats like a boss h5bp.com/q
.clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

.panel(@_bg: @base3, @_fg: @base02) {
  background-color: @_bg;
  color: @_fg;
  .border-radius(@baseBorderRadius);
  .box-shadow(~"0 1px 3px rgba(0,0,0,.1)");

  .clearfix();
  position: relative;
  padding: @rhythmUnit;
  margin-bottom: @rhythmUnit;

  hr {
    background-color: fade(@_fg, 20%);
    border: none;
    height: 1px;
  }

  .title {
    border-bottom: 1px solid fade(@_fg, 20%);
    color: @_fg;
    .opacity(80);

    margin-bottom: @rhythmUnit;

    h1, h2, h3, h4, h5 {
      margin-top: @rhythmUnit;
      margin-bottom: 0;
    }
  }

  .fliptrigger {
    .gradient(~"linear-gradient(135deg, transparent 0%, transparent 50%, @{magenta} 50%, @{magenta} 100%)");
    .border-bottom-right-radius(@baseBorderRadius);
    color: fade(@black, 80%);

    position: absolute;
    bottom: 0;
    right: 0;
    height: 60px;
    width: 60px;

    font-size: 26px;
    text-align: right;
    text-decoration: none;

    i {
      position: absolute;
      bottom: 6px;
      right: 6px;
    }
  }
}

// Function for generating icons with labels
// @icon accepts a character code for FontAwesome
.icon-with-label(@icon: "\f069", @iconsize: 100px, @labelsize: 36px, @color1: #fff, @color2: #ddd) {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-color: mix(@color1, @color2, 50%);
 .gradient(~"linear-gradient(top, @{color1} 0%, @{color2} 100%)");

  font-size: @labelsize;
  text-align: center;

  .icon {
    display: block;
    margin: 0 auto;

    font-size: @iconsize;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;

    &:before {
      content: @icon;
    }
  }
}